<h3>Quiz</h3>

<div>
  <div>
    <p><%= questions.story %></p>
  </div>
  <div id="countdown"></div>
  <div>

      <form id="myForm" action="/quiz/results" method="POST">
    <ol id="questions">
      <% questions.questions.forEach((q,i) => { %>
      <li>
        <p><%= q.question %></p>
        <ol type="a">
          <% q.answer.forEach((choice) => { %>
          <li><input type="radio" name=<%= i %> value="<%= choice %>"><%= choice %></input></li>
          <% }) %>
        </ol>
      </li>
      <% }) %>
    </ol>
    <input style="display: none;" name="id" value="<%= questions._id %>" />
    <button type="submit">Submit</button>
</form>
  </div>
</div>
<script src="/js/main.js"></script>
