<h3 class="header">Quiz</h3>
<div id="countdown"></div>

<div class='container'>
  <div>
    <p class='story'><%= questions.story %></p>
  </div>
  <div>

      <form id="myForm" action="/quiz/results" method="POST">
    <ol id="questions">
      <% questions.questions.forEach((q,i) => { %>
      <li>
        <p><%= q.question %></p>
        <ol type="a">
          <% q.answer.forEach((choice) => { %>
          <li><input type="radio" name=<%= i %> value="<%= choice %>"><%= choice %></input></li>
          <% }) %>
        </ol>
      </li>
      <% }) %>
    </ol>
    <input style="display: none;" name="id" value="<%= questions._id %>" />
    <br>
    <button class="button" type="submit">Submit</button>
    <br>
</form>
  </div>
</div>
<script src="/js/main.js"></script>
